.horizontal-scroll-container {
    width: 700px; /* Ширина контейнера */
    height: 360px; /* Высота контейнера */
    overflow-x: scroll; /* Включение горизонтальной прокрутки */
    white-space: nowrap; /* Предотвращение переноса содержимого */
     /* Добавляем границу для контейнера */
  }
  
  .content {
    padding: 10px; /* Добавляем отступы внутри контейнера */
    display: flex;
  }
  
  /* Стилизация скроллбара */
  .horizontal-scroll-container::-webkit-scrollbar {
    height: 10px; /* Высота скроллбара */
  }
  
  
  
  .horizontal-scroll-container::-webkit-scrollbar-thumb {
    /* Цвет скроллбара */
    border-radius: 5px; /* Радиус скроллбара */
  }
  
  .horizontal-scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Изменение цвета при наведении */
  }
  
  .container{
    width: 240px;
    height: 320px;
    margin-right: 50px;
    border: 0.5px solid #ccc;
  }
  .container:active{
    border-color: #00ffee;
  }
  .imgcity{
    width: 240px;
    height: 200px;
  }
  .dates{
    padding-left: 30px;
    padding-top: 15px;
    line-height: 10px;
  }

  .dates p{
    font-size: 12px;
  }