 .weather{
     /* Ширина контейнера */
    height: 220px; /* Высота контейнера */
    
  }

h3{
    text-align: left;
}

.week{
    display: flex;
    margin-top: 20px;
}
.tripday{
    width: 100px;
    height: 200px;
    margin-right: 30px;
    
}
.weatherimg{
    width: 100px;
    height: 100px;
}