 .weather{
     /* Ширина контейнера */
    height: 180px; /* Высота контейнера */
    
  }

h3{
    text-align: left;
}

.week{
    display: flex;
    
}
.tripday{
    width: 100px;
    height: 150px;
    margin-right: 30px;
    
}
.weatherimg{
    width: 100px;
    height: 80px;
}
.degree1{
    font-size: 12px;
}
.foot{
    font-size: 16px;
}