header{
    max-width: 600px;
    
}

header h2{
    display: block; /* Размещаем label на отдельной строке */
  text-align: left;
  margin:  20px 0;
  
}
input[type="search"]{
    max-width: 200px;
    display: block; /* Размещаем label на отдельной строке */
  text-align: left;
margin: 20px 0;

}