.rightpart{
    width: 400px;
   
    border-radius: 20px;
    
}

#timeleft{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    font-weight: 800;
    color: white;
}
#weather_today{
    width: 80%;
    height: 300px;
    margin: 0px auto;
    font-size: 30px;
    font-weight: 500;
    color: white;
}
#weather_today p{
    margin:0;
    text-align: center;
}
#today{
    width: 80%;
    height: 350px;
    margin: 200px auto;

}
.degree_count{
    display: flex;
    
}
.degree{
    font-size: 23px;
    margin-top:0;
}
.today{
    font-size: 80px;
    flex-wrap: nowrap;
    justify-content: center;
}